<div>

    <h3>Add Entry</h3>
    <form>


        <md-input-container>
            <label for="entry">Description of Task</label>
            <input type="text" ng-model="vm.newEntry.entry" placeholder="What did you do?" required="true" />
        </md-input-container>


        <div layout="row">
            <md-input-container>
                <md-select ng-model="vm.newEntry.project_id" placeholder="Select Project" required="true">
                    <md-option ng-repeat="project in vm.project.data" ng-value="project.id">{{project.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label for="date">Date</label>
                <md-datepicker type="date" name="date" ng-model="vm.newEntry.date" ng-required="true"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label for="start_time">Start Time</label>
                <input type="time" ng-model="vm.newEntry.start_time" required="true" />
            </md-input-container>
            <md-input-container>
                <label for="end_time">End Time</label>
                <input type="time" name="end_time" ng-model="vm.newEntry.end_time" required="true" />
            </md-input-container>
            <md-input-container>
                <md-button class="md-primary md-raised" ng-click="vm.addEntry(vm.newEntry)">Submit</md-button>
            </md-input-container>
        </div>
    </form>
    
</div>
<h2>History</h2>
<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column>Entry</th>
                <th md-column>Project</th>
                <th md-column>Date</th>
                <th md-column>Hours</th>
                <th md-column>Actions</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="entry in vm.entry.data">
                <td md-cell>
                    {{entry.entry}}
                </td>
                <td md-cell>
                    {{entry.project_name}}
                </td>
                <td md-cell>
                    {{entry.date | date: 'MM-dd-yy'}}
                </td>
                <td md-cell>
                    {{entry.hours}}
                </td>
                <td md-cell>
                    <md-button class="md-warn md-raised" ng-click="vm.deleteEntry(entry)">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
</div>