<div>
    <md-container layout="column" layout-align="center center">
    <md-form ng-submit="vm.addProject(newProject)">
    
    <h3>Add Project</h3>
    <md-input-container>
    <input ng-model="newProject.name" placeholder="Project Name" />
    <md-button class="md-primary md-raised" type="submit">Submit</md-button>
</md-input-container>
</md-form>
    <div layout-align="center center">
    <h3>Projects</h3>
    <table>
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Total Hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in vm.project.data">
                    <td>
                        {{project.name}}
                    </td>
                    <td>
                        {{project.sum}}
                    </td>
                    <td>
                        <button ng-click="vm.deleteProject(project)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</md-container>
</div>